* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: #757474;
  color: whitesmoke;
}

body {
  min-height: 100vh;
  font-size: 1.2rem;
  padding: 0 10% 10%;
}

input,
textarea,
button,
select {
  font: inherit;
  margin-bottom: 1em;
}

main {
  max-width: 500px;
  margin: auto;
}

section {
  margin-top: 1em;
}

article {
  margin: 0.5em 0.5em 0.5em 0;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 1em;
}

h1 {
  font-size: 3.5rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 1.2rem;
  margin: 0.5em 0;
}

form {
  display: flex;
  flex-direction: column;
}

.postCredit {
  font-size: 1rem;
}

.reactionButton {
  margin: 0 0.25em 0 0;
  background: transparent;
  border: none;
  color: whitesmoke;
  font-size: 1rem;
}
#map{
  position: absolute;
  top: 20vh;
  left: 5vw;
  
  height: 75vh;
  width: 70vw;
}
#regions{
  position: absolute;
  top: 12vh;
  left: 5vw; 
  width: 200px;
  height: 40px;
  border-radius: 30px;
}
.region_label{

  position: absolute;
  top: 8vh;
  left: 5vw; 
}
.charts{
  position: absolute;
  top: 20vh;
  left: 76vw; 
  height: 75vh;
  background-color: rgb(255, 255, 255);
  width: 22vw;
}

#indicator{
  position: absolute;
  top: 12vh;
  left: 17vw; 
  width: 200px;
  height: 40px;
  border-radius: 30px;
}
.indicator_label{

  position: absolute;
  top: 8vh;
  left: 17vw; 
}

#sub_indicator{
  position: absolute;
  top: 12vh;
  left: 30vw; 
  width: 230px;
  height: 40px;
  border-radius: 30px;
}
.sub_indicator_label{

  position: absolute;
  top: 8vh;
  left: 30vw; 
}
#year{
  position: absolute;
  top: 12vh;
  left: 45vw; 
  width: 180px;
  height: 40px;
  border-radius: 30px;
}
.year{

  position: absolute;
  top: 8vh;
  left: 45vw; 
}
.fetch{

  position: absolute;
  top: 12vh;
  left: 58vw;
  width: 180px;
  height: 40px;
  border-radius: 30px;
  border: none;
}
#file {
  position: absolute;
  margin-top:40px;
  margin-left: 800px;
}
#submit{
  position: absolute;
  margin-top:90px;
  margin-left: 800px;

}
.upload{
  position: absolute;
  margin-top:10px;
  margin-left: 800px;

}
.leaflet-marker-icon{
  display: none !important;
}