

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: #817f7f;
  color: whitesmoke;
}

body {
  min-height: 100vh;
  font-size: 1.2rem;
  padding: 0 10% 10%;
  overflow-x: hidden;
  overflow-y: hidden;
}

input,
textarea,
button,
select {
  font: inherit;
  margin-bottom: 1em;
}

main {
  max-width: 500px;
  margin: auto;
}

section {
  margin-top: 1em;
}

article {
  margin: 0.5em 0.5em 0.5em 0;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 1em;
}

h1 {
  font-size: 3.5rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 1.2rem;
  margin: 0.5em 0;
}

form {
  display: flex;
  flex-direction: column;
}

.postCredit {
  font-size: 1rem;
}

.reactionButton {
  margin: 0 0.25em 0 0;
  background: transparent;
  border: none;
  color: whitesmoke;
  font-size: 1rem;
}
#map{
  position: absolute;
  top: 20vh;
  left: 5vw;
  
  height: 75vh;
  width: 90vw;
  z-index: 300 !important;
}
.map{
  position: absolute;
  top: 20vh;
  left: 5vw;
  
  height: 75vh;
  width: 70vw;
  z-index: 200 !important;
}
#regions{
  position: absolute;
  top: 12vh;
  left: 5vw; 
  width: 120px;
  height: 40px;
  border-radius: 30px;
}
.region_label{

  position: absolute;
  top: 8vh;
  left: 5vw; 
}
.charts{
  position: absolute;
  top: 20vh;
  left: 76vw; 
  height: 75vh;
  background-color: rgb(255, 255, 255);
  width: 22vw;
  z-index: 700;
}

#indicator{
  position: absolute;
  top: 12vh;
  left: 13vw; 
  width: 120px;
  height: 40px;
  border-radius: 30px;
}
.indicator_label{

  position: absolute;
  top: 8vh;
  left: 13vw; 
}

#sub_indicator{
  position: absolute;
  top: 12vh;
  left: 22vw; 
  width: 160px;
  height: 40px;
  border-radius: 30px;
}
.sub_indicator_label{

  position: absolute;
  top: 8vh;
  left: 22vw; 
}
#year{
  position: absolute;
  top: 12vh;
  left: 32vw; 
  width: 145px;
  height: 40px;
  border-radius: 30px;
  overflow-y: scroll !important;
 
}
.year_list{
  overflow-y: scroll !important;
}

.year{

  position: absolute;
  top: 8vh;
  left: 32vw; 
}
.fetch{

  position: absolute;
  top: 12vh;
  left: 42vw;
  width: 120px;
  height: 40px;
  border-radius: 30px;
  border: none;
}
#file {
  position: absolute;
  margin-top:40px;
  margin-left: 75vw;
}
#submit{
  position: absolute;
  margin-top:90px;
  margin-left: 75vw;

}

.season{
  position: absolute;
  top: 12vh;
  left: 42vw; 
  width: 145px;
  height: 40px;
  border-radius: 30px;
  overflow-y: scroll !important;
 
}
.season_label{

  position: absolute;
  top: 8vh;
  left: 42vw; 
}

.parameter{
  position: absolute;
  top: 12vh;
  left: 0vw; 
  width: 145px;
  height: 40px;
  border-radius: 30px;
  
 
}
.parameter_label{
  position: absolute;
  top: 8vh;
  left: 0vw; 
}
.upload{
  position: absolute;
  margin-top:10px;
  margin-left: 75vw;

}
.leaflet-marker-icon{
  display: none !important;
}
.container{
  position: absolute;
  top: 50vh;
  z-index: 500;
  height: 100px;
  width: 100px;
  background-color: #79e0e0;
}
.home_icon{
  position: absolute;
  top: 20vh;
  left: 2vw;
  cursor: pointer;
}
.about_icon{
  position: absolute;
  top: 24vh;
  left: 2vw;
 cursor: pointer;
}
.compare{
  position: absolute;
  top:80vh;
 left: .2vw;
  background-color: #5c5a5a;
  width: 100px;
  height: 35px;
  padding: 5px;
  /* border-radius: 30px; */
  cursor: pointer;

}

.compare_panel{
  position: absolute;
  top: 50vh;
  left: 5vw;
  z-index: 500;
  width: 300px;
  height: 300px;
  background-color: #fff;
  color: #000000;
  text-align: center;
  font-weight: 800;
  padding: 50px;

}
.close_compare{
  position: relative;
  top: -4.5vh;
  left: 3.5vw;
  cursor: pointer;
}
.tabs{
  display: flex;
  flex-direction: row;
  gap: 5rem;
  margin-left: 50px;
  margin-top: 30px;
  color: #5c5a5a;
  font-weight: 800;
  cursor: pointer;
  
}
.metadata_text{
  color: #5c5a5a;
}

#satellite{
  position: absolute;
  top: 12vh;
  left: 70vw; 
  width: 130px;
  height: 40px;
  border-radius: 30px;
}
.satellite{

  position: absolute;
  top: 8vh;
  left: 70vw; 
}

#username #email{
  width: 50px;
}

/* .toggle{
  height: 200px;
  position: absolute;
  left: 93vw;
  top: 60vh;
  z-index: 1000;
} */

#bar-chart{
  height:250px !important;
}

.toggle_div{
  position: absolute;
  left: 93vw;
  top: 70vh;
  z-index: 400;
  align-items: center

}

.close_chart{
  position: absolute;
  z-index: 1000;
  height: 150px;
  width: 150px;
  /* background-color: #817f7f; */

}

@tailwind base;
@tailwind components;
@tailwind utilities;